<p id="notice"><%= notice %></p>
<h1 class="h3 mb-2 text-gray-800">Acompanhamento</h1>
<div>  
  <%= link_to new_acompanhamento_path, { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaacompanhamento" width="100%" cellspacing="0">
        <thead>
        <tr>
            
            <th>Paciente</th>
            <th>Remedio</th>
            <th>Tipo</th>
            <th>Inicio tratamento</th>
            <th>Fim tratamento</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <% @acompanhamentos.each do |prod| %>
              <tr id="acompanhamento_<%= prod.id %>" >
                <td><%= prod.paciente %></td>
                <td><%= prod.medicamento %></td>
                <td><%= prod.tipo != nil ? prod.tipo.descricao : "Não existe tipo de medicamento" %></td>
                <td><%= prod.inicio_tratamento.strftime("%d/%m/%Y") %></td>
                <td><%= prod.fim_tratamento %></td>
                <td>
                <%= link_to 'Detalhes', acompanhamento_path(prod), {class: "btn btn-info btn-xs"} %> 
                <%= link_to "Editar", edit_acompanhamento_path(prod), html_options = {class: "btn btn-warning btn-xs", remote: true} %>
                <%= link_to "Deletar", prod, remote: true, method: :delete, data: { confirm: "Deletar: #{prod.paciente}?"}, class: "btn btn-danger btn-xs" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= render 'modal_acompanhamentos' %>



