<p id="notice"><%= notice %></p>
<h1 class="h3 mb-2 text-gray-800">Acompanhamento</h1>
<div>  
  <%= link_to new_acompanhamento_path, { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaacompanhamento" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Paciente</th>
            <th>Remedio</th>
            <th>Tipo</th>
            <th>Inicio tratamento</th>
            <th>Fim tratamento</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <% @acompanhamentos.each do |prod| %>
              <tr id="acompanhamento_<%= prod.id %>" >
                <td><%= prod.paciente %></td>
                <td><%= prod.medicamento %></td>
                <td><%= prod.tipo != nil ? prod.tipo.descricao : "Não existe tipo de medicamento" %></td>
                <td><%= prod.inicio_tratamento.strftime("%d/%m/%Y") %></td>
                <td><%= prod.fim_tratamento %></td>
                <td>
                    <%= link_to  acompanhamento_path(prod), html_options = {class: "btn btn-default" }  do %>
                      <i class="fas fa-info fa-1x" data-toggle="tooltip" data-placement="top" title="Detalhes"></i> 
                    <%end%>

                    <%= link_to edit_acompanhamento_path(prod), html_options = {class: "btn btn-default", remote: true}  do %>
                      <i class="fas fa-edit fa-1x" data-toggle="tooltip" data-placement="top" title="Editar"></i>
                    <%end%>
                    
                    <%= link_to finalizar_acompanhamento_path(prod), html_options = {class: "btn btn-default"}  do %>
                      <i class="fas fa-ban fa-1x" data-toggle="tooltip" data-placement="top" title="Finalizar"></i>
                    <%end%>

                    <%= link_to '<i class="fas fa-trash-alt fa-1x" data-toggle="tooltip" data-placement="top" title="Excluir"></i>'.html_safe, prod, remote: true, method: :delete, data: { confirm: "Deletar: #{prod.paciente}?"}, class: "btn btn-default" %>
                </td>
            </tr>
            <% end %>
        </tbody>
        
    </table>
    </div>
  </div>
</div>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
<%= render 'modal_acompanhamentos' %>



