
<h1 class="h3 mb-2 text-gray-800">Diário de  Acompanhamento</h1>
<br />
<div class="table-responsive">
     <table class="table table-bordered table-dark" id="tablaacompanhamento" width="100%" cellspacing="0">

        <tbody>
            </tr>
            <td>Paciente: <%=@acompanhamento.id%></td>  
            <td>Paciente: <%=@acompanhamento.paciente%></td>     
            <td>Remédio: <%=@acompanhamento.medicamento%></td>  
            <td>Inicio Tratamento: <%=@acompanhamento.inicio_tratamento.strftime("%d/%m/%Y")%></td>   
            </tr>
        
        </tbody>
     </table>
</div>

<div>  
  <%= link_to new_diario_path(:acompanha =>@acompanhamento.id), { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>

<br />
<%semana=0%>
<% @diarios.each do |diario| %>
  <%semana=semana+1%>

    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-md font-weight-bold text-info text-uppercase mb-1">Dia: <%=semana%></div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">Dosagem: <%= diario.dosagem %> </div>
                                </div>
                            
                            </div>
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><%= link_to "Editar", edit_diario_path(diario), html_options = {class: "", remote: true} %></div>

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                  </div>
              </div>
      </div>
    </div>

<% end %>
<%= render 'modal_diarios' %>