<%= form_for @tipo, remote: true do |f| %>
    <div class="form-group">
      <h4 class="control-label">Dados do Tipo de Medicação:</h4>
    </div>

    <div class="item form-group<%= @tipo.errors[:descricao].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :descricao, "descricao de Categoría: " %>
      <div class="input-group">
        <%= f.text_field :descricao, {:class=> "form-control", :placeholder=>"..."} %>        
        <%if @tipo.errors[:descricao].any? %>
          <p class="bg-danger"><%= @tipo.errors[:descricao].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @tipo.new_record? ? "Criar Tipo de Medicação" : "Atualizar Categoría", :class => "btn btn-success"%>
    </div>  
<% end %>